.blog-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 48px !important;
    background-color: #282c34;
}

.single-blog {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 23%;
    border: 1px solid #333;
    margin: 8px 8px;
    padding: 12px;
    box-sizing: border-box;
}

.title-blog {
    color: #000;
    font-weight: 600;
    flex-grow: 1;
    font-size: 18px;
}

.body-blog {
    margin-top: 12px;
    flex-grow: 2;
    color: #333;
}

.btn-blog {
    padding: 0;
    background-color: #4caf50;
    width: max-content;
    border: none;
    border-radius: 2px;
    flex-grow: 1;
    transition: all 0.4s;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }

    &:active {
        box-shadow: none;
    }
}

.btn-blog a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 6px;
}

.back-blog {
    display: flex;
    width: 100%;
    justify-content: start;
    transition: all 0.6s;
    align-items: center;
    margin-left: 30px;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
        margin-left: 15px;
    }
}

.icon-blog {
    font-size: 26px;
}

.text {
    font-size: 24px;
    margin: 0 0 0 5px;
}

.detail-blog {
    background-color: #282c34;
}

.btn-add {
    margin: 14px 0 12px 0;
}

.add-new-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-add-new {
    margin: 12px 0 6px 0;
}

.form-add-new {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    width: 400px;
    padding: 40px 20px;
}

.input-add-new {
    display: flex;
    flex-direction: column;
    text-align: left;

    &:first-child {
        margin-bottom: 18px;
    }
}

.label-add {
    font-size: 16px;
    color: #000;
}

.input-add {
    padding: 8px 0 8px 6px;
    border-radius: 5px;
    border: 1px solid #333;
}

.submit {
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
}

.btn-delete {
    margin-top: 16px;
}
